<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Corgijans Rezepte</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .avatar-container {
            display: flex;
            align-items: center;
        }
        .avatar-img-border {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            overflow: hidden;
        }
        .avatar-img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">🦊 Corgijans Rezepte</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
            aria-controls="main-navbar" aria-expanded="false" aria-label="Navigation umschalten">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/e/new">Hinzufügen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://blog.corgijan.dev" target="_blank" rel="noopener noreferrer">Blog</a>
            </li>
        </ul>
    </div>
    <div class="avatar-container ml-3">
        <div class="avatar-img-border">
            <a href="/">
                <img alt="Navigation Avatar" class="avatar-img"
                     src="http://blog.corgijan.dev/assets/images/ava.jpg" onerror="this.onerror=null;this.src='/static/default-avatar.jpg'">
            </a>
        </div>
    </div>
</nav>

<main class="container mt-5 pt-5">
    {% block content %}
    {% endblock %}
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
<script src="/static/script.js"></script>
</body>
</html>
