{% extends "base.html" %}
{% block content %}
<script>
    function filterRecipes() {
        let filter = document.getElementById('recipesFilter').value.toUpperCase();
        for (let recipeItem of document.getElementById('recipesList').getElementsByTagName('li')) {
            let recipeTags = recipeItem.getElementsByTagName('small')[0].innerText;
            let recipeName = recipeItem.getElementsByTagName('a')[0];
            let txtValue = (recipeName.textContent || recipeName.innerText);
            recipeItem.style.display = ((txtValue.toUpperCase().indexOf(filter) > -1) || (recipeTags.toUpperCase().indexOf(filter) > -1)) ? "" : "none";
        }
    }

    function sortRecipes() {
        let list = document.getElementById('recipesList');
        let sortSelector = document.getElementById('sortSelector');
        Array.from(list.getElementsByTagName('li'))
            .sort((a, b) => (sortSelector.value === 'asc' ? 1 : -1) * (a.innerText).localeCompare(b.innerText))
            .forEach(item => list.appendChild(item));
    }
</script>

<h1 class="header">Willkommen bei Corgijans Rezepten</h1>
<div class="mt-4">
    <p>Dies ist ein "Code-Golf" Projekt mit ~250 Zeilen Code und dem Look eines Blogs von 1999.</p>

    <h3>Rezepte</h3>

    <div class="input-group mb-3">
        <input type="text" id="recipesFilter" onkeyup="filterRecipes()" class="form-control" placeholder="Suche">
        <button class="btn btn-outline-secondary" type="button" onclick="document.getElementById('recipesFilter').value = ''; filterRecipes();">
            X
        </button>
    </div>

    {% if recipes_count >= 50 %}
    <div class="mb-3" >
        <select id="sortSelector" class="form-control w-auto d-inline" onchange="sortRecipes()" style="background-color: #E9C46A; color: #000; border: 2px dashed blue;">
            <option value="asc">Aufsteigend</option>
            <option value="desc">Absteigend</option>
        </select>
    </div>
    {% endif %}

    <ul id="recipesList" class="list-group">
        {% for r in recipes %}
        <li class="list-group-item" style="border: 2px solid #000; background-color: #E9C46A; margin-bottom: 10px;">
            <a href="/r/{{r.id|e}}" class="text-decoration-none" style="font-size: 1.2em;">
                <h5 class="mb-1" style="color: #000;">{{ r.title|e }}</h5>
            </a>
            <small class="d-none" style="color: blue;">{{ r.tags|e }}</small>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
